<div class="footer">
    <div class="footer-links-container">
        <div class="footer-link">
            <a href="/about-us">About Us</a>
        </div>
        <span>|</span>
        <div class="footer-link">
            <a href="/terms">Terms & Conditions</a>
        </div>
        <span>|</span>
        <div class="footer-link">
            <a href="/privacy">Privacy Policy</a>
        </div>
        <span>|</span>
        <div class="footer-link">
            <a href="/refund">Refunds</a>
        </div>
        <!-- <span>|</span>
        <div class="footer-link">
            <a href="/faqs">FAQs</a>
        </div> -->
        <span>|</span>
        <div class="footer-link">
            <a href="/blog">Blog</a>
        </div>
        <span>|</span>
        <div class="footer-link">
            <a href="/careers">Careers</a>
        </div>
        <span>|</span>
        <div class="footer-link">
            <a href="/contact-us">Contact Us</a>
        </div>
    </div>
    <div class="footer-app-container">
        <a href="/" class="footer-app" id="playstore">
            <img src="/resources/playstore-dark.png">
        </a>
        <a href="/" class="footer-app" id="appstore">
            <img src="/resources/appstore-dark.png">
        </a>
    </div>
    <div class="footer-icon-container">
        <a href="https://www.linkedin.com/company/offernmove" target="_blank" rel="noopener noreferrer" class="footer-icon" id="linkedin">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://www.instagram.com/offernmove/" target="_blank" rel="noopener noreferrer" class="footer-icon" id="insta">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/@OfferNMove" target="_blank" rel="noopener noreferrer" class="footer-icon" id="youtube">
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://whatsapp.com/channel/0029VawB0pQ4CrfeHWEiP127" target="_blank" rel="noopener noreferrer" class="footer-icon" id="whatsapp">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://in.pinterest.com/offernmove/_created/" target="_blank" rel="noopener noreferrer" class="footer-icon" id="pinterest">
            <i class="fa-brands fa-pinterest"></i>
        </a>
    </div>
    <div class="footer-copyright">
        <span>© 2024 OfferNMove (a brand of CareerX24). All Rights Reserved.</span>
    </div>
</div>