<% layout("/layouts/boilerplate") %>

<div class="property-details-wrap">
    <div class="page-title-wrap">
        <div class="property-nav">
            <div class="breadcrumb">
                <div class="back-to-search breadcrumb-item">
                    <span class="material-symbols-outlined">chevron_left</span>
                    <span>Back to Search</span>
                </div>
                <div class="item-home breadcrumb-item">
                    <span class="material-symbols-outlined">chevron_right</span>
                    <span class="material-symbols-outlined">home</span>
                    <span>Home</span>
                </div>
                <div class="breadcrumb-item">
                    <span class="material-symbols-outlined">chevron_right</span>
                    <span>Villa</span>
                </div>
                <div class="breadcrumb-item-active breadcrumb-item">
                    <span class="material-symbols-outlined">chevron_right</span>
                    <span>Equestrian Villa</span>
                </div>
            </div>
            <div class="item-tools">
                <div class="item-tool-favourite"><i class="fa-regular fa-heart"></i></div>
                <div class="item-tool share"><span class="material-symbols-outlined">share</span></div>
                <div class="item-tool-print"><span class="material-symbols-outlined">print</span></div>
            </div>
        </div>
        <div class="property-title">
            <h1>Equestrian Villa</h1>
            <div class="item-price-wrap">
                <span class="item-price">1,599,000</span>
                <span class="item-price-per-area">15,000/sq ft</span>
            </div>
        </div>
        <div class="item-location">
            <span class="material-symbols-outlined">location_on</span>
            <span>3385 Pan American Dr. Miami, FL 33133, USA</span>
            <div class="map-icon">
                <span class="material-symbols-outlined">map</span>
                <span class="map-text">Open on Google Maps</span>
            </div>
        </div>
    </div>
    <div class="property-container">
        <div class="property-details">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/resources/room2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/resources/room3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/resources/room1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/resources/room5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/resources/room7.jpg" alt=""></div>
                  </div>
                  <div class="swiper-button-next"><span class="material-symbols-outlined">chevron_right</span></div>
                  <div class="swiper-button-prev"><span class="material-symbols-outlined">chevron_left</span></div>
                  <div class="swiper-pagination"></div>
            </div>
            <div class="block-wrap">
                <div class="block-title">
                    <div class="property-id-container">
                        <h2>Overview</h2>
                        <div>
                            <strong>Property ID:</strong><span class="property-id">HZ51</span>
                        </div>
                    </div>
                    <div class="block-info">
                        <div class="block-type block-info-item">
                            <div class="block-overview-item">Villa</div>
                            <div class="block-overview-item-type">Property Type</div>
                        </div>
                        <div class="block-bedroom block-info-item">
                            <div class="block-overview-item">
                                <span class="material-symbols-outlined">bed</span>
                                <span>4</span>
                            </div>
                            <div class="block-overview-item-type">Bedrooms</div>
                        </div>
                        <div class="block-bathroom block-info-item">
                            <div class="block-overview-item">
                                <span class="material-symbols-outlined">shower</span>
                                <span>2</span>
                            </div>
                            <div class="block-overview-item-type">Bathrooms</div>
                        </div>
                        <div class="block-garage block-info-item">
                            <div class="block-overview-item">
                                <span class="material-symbols-outlined">directions_car</span>
                                <span>1</span>
                            </div>
                            <div class="block-overview-item-type">Garage</div>
                        </div>
                        <div class="block-area block-info-item">
                            <div class="block-overview-item">
                                <span class="material-symbols-outlined">straighten</span>
                                <span>1200</span>
                            </div>
                            <div class="block-overview-item-type">Sq Ft</div>
                        </div>
                        <div class="block-built block-info-item">
                            <div class="block-overview-item">
                                <span class="material-symbols-outlined">calendar_month</span>
                                <span>2016</span>
                            </div>
                            <div class="block-overview-item-type">Year Built</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-wrap">
                <div class="block-title-wrap">
                    <div class="description-container">
                        <h2>Description</h2>
                        <span class="material-symbols-outlined">keyboard_arrow_up</span>
                    </div>
                </div>
                <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                </div>
            </div>
            <div class="block-wrap" id="address">
                <div class="block-title-wrap">
                    <div class="description-container">
                        <h2>Address</h2>
                        <span class="material-symbols-outlined">keyboard_arrow_up</span>
                    </div>
                </div>
                <div class="block-info accordion-content">
                    <div class="detail-address-block detail-block-info">
                        <span>Address</span>
                        <span class="detail-address detail-block-data">3385 Pan America Dr</span>
                    </div>
                    <div class="detail-city-block detail-block-info">
                        <span>City</span>
                        <span class="detail-city detail-block-data">Miami</span>
                    </div>
                    <div class="detail-state-block detail-block-info">
                        <span>State</span>
                        <span class="detail-state detail-block-data">Florida</span>
                    </div>
                    <div class="detail-zip-block detail-block-info">
                        <span>Zip/Postal Code</span>
                        <span class="detail-zip detail-block-data">3313</span>
                    </div>
                    <div class="detail-area-block detail-block-info">
                        <span>Area</span>
                        <span class="detail-area detail-block-data">Coconut Grove</span>
                    </div>
                    <div class="detail-country-block detail-block-info">
                        <span>Country</span>
                        <span class="detail-country detail-block-data">United States</span>
                    </div>
                </div>
            </div>
            <div class="block-wrap" id="details">
                <div class="block-title-wrap">
                    <div class="description-container">
                        <h2>Details</h2>
                        <span class="material-symbols-outlined">keyboard_arrow_up</span>
                    </div>
                </div>
                <div class="detail-wrap accordion-content">
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Property ID: </span>
                        <span class="property-id">HZ51</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Price: </span>
                        <span class="price">1,599,000</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Property Size: </span>
                        <span class="area">1200 Sq Ft</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Bedrooms: </span>
                        <span class="bedrooms">4</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Bathrooms: </span>
                        <span class="bathrooms">2</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Garage: </span>
                        <span class="garage">1</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Garage Size: </span>
                        <span class="garage-size">200 SqFt</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Year Built: </span>
                        <span class="year-built">2016</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Property Type: </span>
                        <span class="property-type">Villa</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Property Status: </span>
                        <span class="property-status">For Sale</span>
                    </div>
                </div>
                <div class="block-title-wrap" id="more-details">
                    <div class="description-container">
                        <h3>Additional Details</h3>
                        <span class="material-symbols-outlined">keyboard_arrow_up</span>
                    </div>
                </div>
                <div class="detail-wrap-container accordion-content">
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Deposit: </span>
                        <span class="property-deposit">20%</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Pool Size: </span>
                        <span class="property-deposit">300 Sqft</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Last remodel year: </span>
                        <span class="property-deposit">1987</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Amenities: </span>
                        <span class="property-deposit">Clubhouse</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Additional Rooms: </span>
                        <span class="property-deposit">Guest Bath</span>
                    </div>
                    <div class="detail-wrap-item">
                        <span class="detail-wrap-heading">Equipment: </span>
                        <span class="property-deposit">Gril-Gas</span>
                    </div>
                </div>
            </div>
            <div class="block-wrap" id="features">
                <div class="block-title-wrap block-features">
                    <div class="description-container">
                        <h3>Features</h3>
                        <span class="material-symbols-outlined">keyboard_arrow_up</span>
                    </div>
                </div>
                <div class="features-wrap-container accordion-content">
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>Air Conditioning</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>lawn</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>Swimming Pool</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>Barbeque</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>Microwave</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>TV Cable</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>Dryer</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>Outdoor Shower</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>Washer</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>Gym</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>Refrigerator</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>WiFi</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>Laundry</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>Sauna</span>
                    </div>
                    <div class="features-wrap-item">
                        <span class="material-symbols-outlined">check_circle</span>
                        <span>Window Coverings</span>
                    </div>
                </div>
            </div>
            <div class="block-wrap">
                <div class="block-title-wrap">
                    <h2>Floor Plans</h2>
                </div>
                <div class="block-accordion-wrap">
                    <div class="accordion-header">
                        <div class="accordion-title">
                            <span class="material-symbols-outlined">keyboard_arrow_up</span>
                            <span>First Floor</span>
                        </div>
                        <div class="accordion-info">
                            <div class="accordion-item">
                                <div class="accordion-item-title">Size:</div>
                                <div class="accordion-item-data">1345 Sqft</div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-item-title"><span class="material-symbols-outlined">bed</span></div>
                                <div class="accordion-item-data">543 Sqft</div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-item-title"><span class="material-symbols-outlined">shower</span></div>
                                <div class="accordion-item-data">238 Sqft</div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-item-title">Price:</div>
                                <div class="accordion-item-data">1,600</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <img src="/resources/plan-1.jpg" alt="First Floor Image" />
                    </div>
                    <div class="accordion-header">
                        <div class="accordion-title">
                            <span class="material-symbols-outlined">keyboard_arrow_up</span>
                            <span>Second Floor</span>
                        </div>
                        <div class="accordion-info">
                            <div class="accordion-item">
                                <div class="accordion-item-title">Size:</div>
                                <div class="accordion-item-data">1345 Sqft</div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-item-title"><span class="material-symbols-outlined">bed</span></div>
                                <div class="accordion-item-data">543 Sqft</div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-item-title"><span class="material-symbols-outlined">shower</span></div>
                                <div class="accordion-item-data">238 Sqft</div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-item-title">Price:</div>
                                <div class="accordion-item-data">1,600</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <img src="/resources/plan-2.jpg" alt="First Floor Image" />
                    </div>
                </div>
            </div>
            <div class="property-review-section-wrap">
                <div class="property-review-info">
                    <div class="property-review-count">
                        <span class="review-count-text">1 Review</span>
                    </div>
                    <div class="property-sort">
                        <span>Sort by: </span>
                        <div class="menu">
                            <div class="item">
                                <a href="" class="link" id="filter">
                                    <span> Featured Listings First </span>
                                    <svg viewBox="0 0 360 360" xml:space="preserve">
                                        <g id="SVGRepo_iconCarrier">
                                            <path
                                                id="XMLID_225_"
                                                d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"
                                            ></path>
                                        </g>
                                    </svg>
                                </a>
                                <div class="submenu">
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 1 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 2</a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 3 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 4 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 5 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 6 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 7 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 8 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 9 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 10 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> Any </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-review-form">
                    <div class="block-title-wrap">Leave a Review</div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input class="form-control" placeholder="you@example.com"></input>
                    </div>
                    <div class="form-mega-group">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input class="form-control" placeholder="Enter a title" type="email"></input>
                        </div>
                        <div class="form-group">
                            <label for="">Rating</label>
                            <input class="form-control" placeholder="Select" type="number"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Review</label>
                        <textarea name="" id="" placeholder="Write a review"></textarea>
                    </div>
                    <div class="property-review-submit">Submit Review</div>
                </div>
            </div>
            <div class="similar-listings-wrap">
                <div class="block-title-wrap">
                    <h2>Similar Listings</h2>
                </div>
                <div class="similar-listings-view">
                    <div class="card">
                        <img src="/resources/room2.jpg">
                        <div class="card-info">
                            <div class="price-container">
                                <div class="price">&#8377;4,500/mo</div>
                                <div class="sale">For Sale</div>
                            </div>
                            <div class="title">Light and Modern Apartment</div>
                            <div class="location">2436 SW 8th St, Miami, FL 33135, USA</div>
                            <div class="dimensions">
                                <div class="bedroom">
                                    <span class="material-symbols-outlined">
                                        bed
                                    </span>
                                    <span class="dimensions-text">4</span>
                                </div>
                                <div class="bath">
                                    <span class="material-symbols-outlined">
                                        shower
                                    </span>
                                    <span class="dimensions-text">2</span>
                                </div>
                                <div class="parking">
                                    <span class="material-symbols-outlined">
                                        directions_car
                                    </span>
                                    <span class="dimensions-text">1</span>
                                </div>
                                <div class="area">
                                    <span class="material-symbols-outlined">
                                        straighten
                                    </span>
                                    <span class="dimensions-text">1200 Sq Ft</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/resources/room2.jpg">
                        <div class="card-info">
                            <div class="price-container">
                                <div class="price">&#8377;4,500/mo</div>
                                <div class="sale">For Sale</div>
                            </div>
                            <div class="title">Light and Modern Apartment</div>
                            <div class="location">2436 SW 8th St, Miami, FL 33135, USA</div>
                            <div class="dimensions">
                                <div class="bedroom">
                                    <span class="material-symbols-outlined">
                                        bed
                                    </span>
                                    <span class="dimensions-text">4</span>
                                </div>
                                <div class="bath">
                                    <span class="material-symbols-outlined">
                                        shower
                                    </span>
                                    <span class="dimensions-text">2</span>
                                </div>
                                <div class="parking">
                                    <span class="material-symbols-outlined">
                                        directions_car
                                    </span>
                                    <span class="dimensions-text">1</span>
                                </div>
                                <div class="area">
                                    <span class="material-symbols-outlined">
                                        straighten
                                    </span>
                                    <span class="dimensions-text">1200 Sq Ft</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/resources/room2.jpg">
                        <div class="card-info">
                            <div class="price-container">
                                <div class="price">&#8377;4,500/mo</div>
                                <div class="sale">For Sale</div>
                            </div>
                            <div class="title">Light and Modern Apartment</div>
                            <div class="location">2436 SW 8th St, Miami, FL 33135, USA</div>
                            <div class="dimensions">
                                <div class="bedroom">
                                    <span class="material-symbols-outlined">
                                        bed
                                    </span>
                                    <span class="dimensions-text">4</span>
                                </div>
                                <div class="bath">
                                    <span class="material-symbols-outlined">
                                        shower
                                    </span>
                                    <span class="dimensions-text">2</span>
                                </div>
                                <div class="parking">
                                    <span class="material-symbols-outlined">
                                        directions_car
                                    </span>
                                    <span class="dimensions-text">1</span>
                                </div>
                                <div class="area">
                                    <span class="material-symbols-outlined">
                                        straighten
                                    </span>
                                    <span class="dimensions-text">1200 Sq Ft</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/resources/room2.jpg">
                        <div class="card-info">
                            <div class="price-container">
                                <div class="price">&#8377;4,500/mo</div>
                                <div class="sale">For Sale</div>
                            </div>
                            <div class="title">Light and Modern Apartment</div>
                            <div class="location">2436 SW 8th St, Miami, FL 33135, USA</div>
                            <div class="dimensions">
                                <div class="bedroom">
                                    <span class="material-symbols-outlined">
                                        bed
                                    </span>
                                    <span class="dimensions-text">4</span>
                                </div>
                                <div class="bath">
                                    <span class="material-symbols-outlined">
                                        shower
                                    </span>
                                    <span class="dimensions-text">2</span>
                                </div>
                                <div class="parking">
                                    <span class="material-symbols-outlined">
                                        directions_car
                                    </span>
                                    <span class="dimensions-text">1</span>
                                </div>
                                <div class="area">
                                    <span class="material-symbols-outlined">
                                        straighten
                                    </span>
                                    <span class="dimensions-text">1200 Sq Ft</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-book">
            <div class="schedule-form-container">
                <div class="property-book-type">
                    <div class="schedule-tour active">Schedule a tour</div>
                    <div class="request-info">Request Info</div>
                </div>
                <div class="property-schedule-tour-form">
                    <div class="property-schedule-date">
                        <label for="date">Choose a date</label>
                        <duet-date-picker identifier="date"></duet-date-picker>
                    </div>
                    <div class="property-schedule-tour-form-title">Tour Type</div>
                    <div class="property-schedule-tour-type-form">
                        <div class="control-indicator active">In Person</div>
                        <div class="control-indicator">Video Chat</div>
                    </div>
                    <div class="form-control">
                        <div class="menu">
                            <div class="item">
                                <a href="" class="link" id="filter">
                                    <span> Time </span>
                                    <svg viewBox="0 0 360 360" xml:space="preserve">
                                        <g id="SVGRepo_iconCarrier">
                                            <path
                                                id="XMLID_225_"
                                                d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"
                                            ></path>
                                        </g>
                                    </svg>
                                </a>
                                <div class="submenu">
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 1 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 2</a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 3 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 4 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 5 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 6 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 7 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 8 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 9 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> 10 </a>
                                    </div>
                                    <div class="submenu-item">
                                        <a href="" class="submenu-link"> Any </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-control">
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="form-control">
                        <input type="text" placeholder="Phone">
                    </div>
                    <div class="form-control">
                        <input type="text" placeholder="Email">
                    </div>
                    <textarea class="form-control" placeholder="Enter your message"></textarea>
                    <div class="gdpr-text-wrap">
                        By submitting this form I agree to <a href="/terms" class="termsofuse">Terms of Use</a>
                    </div>
                    <div class="property-schedule-tour-form-submit">Submit a Tour Request</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelector(".property-review-submit").addEventListener("click", () => {
    const email = document.getElementById("review-email").value;
    const title = document.getElementById("review-title").value;
    const rating = document.getElementById("review-rating").value;
    const review = document.getElementById("review-content").value;

    axios.post("/reviews", { email, title, rating, review })
        .then(response => {
            alert("Review submitted successfully!");
        })
        .catch(error => {
            console.error("There was an error submitting the review:", error);
        });
});

</script>