@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background-color: #fff;
}

img {
    user-select: none;
    pointer-events: none;
}

.hosting-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.9rem 2.8rem 0 2.8rem;

    img {
        width: 2.05rem;
        height: 2.05rem;
    }

    .return {
        display: flex;
        border-radius: 50%;
        width: 2.05rem;
        height: 2.05rem;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.3);
        transition: all 0.2s ease;
        cursor: pointer;
        transform: scale(1.1);
        opacity: 0.9;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #000;
        }
    }

    .return:hover {
        border: 1px solid #000;
    }
}

.hosting-body{
    display: flex;
    flex-direction: column;
    margin: 4.5rem 5rem;

    .hosting-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .hosting-heading {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hosting-heading h1{
            width: 80%;
            font-size: 2.5rem;
            color: rgba(0,0,0,0.82);
            font-weight: 600;
        }
    }
}

.hosting-header-info {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .hosting-info {
        display: flex;
        gap: 1rem;
        transform: scale(1.0125);

        h3 {
            font-weight: 600;
        }

        .hosting-item-data {
            width: 70%;
            display: flex;
            flex-direction: column;

            h3 {
                margin-bottom: 0.5rem;
            }

            p {
                width: 96%;
                margin: 0;
                font-weight: 500;
                color: rgba(0,0,0,0.6);
            }
        }

        .hosting-item-image {
            display: flex;
            align-items: end;
            margin-left: 0.5rem;
        }

        .hosting-item-image img{
            height: 5.5rem;
            width: 7.5rem;
        }
    }
}
 
.btn-class-name {
    position: fixed;
    right: 6rem;
    bottom: 2rem;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 3rem;
    transition: .3s;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25), transparent) #115DFC;
    color: #F3F4F6;
    font-weight: 530;
    font-size: 1.15rem;
    letter-spacing: 0.1em;
    border: none;
    outline: none;
    display: flex;
    padding: .5em 1em;
    transform: scale(0.93);
}

.btn-class-name span {
    transform: scale(.8);
    transition: .3s;
}


.btn-class-name svg {
    font-size: 0;
    transform: scale(0.5) translateX(0%) rotate(-180deg);
    transition: .3s;
    filter: invert(1);
}

.btn-class-name:hover svg {
    font-size: 0.9rem;
    transform: translateX(20%) rotate(0deg);
}


/* about-place */

.hosting-place-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0; 
    padding: 0 5.3rem;

    .hosting-place-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding-left: 5rem;
        padding-bottom: 2rem;

        h4 {
            margin: 0;
            font-weight: 550;
        }

        h1 {
            margin: 0;
            font-size: 2.5rem;
            font-weight: 600;
            color: rgba(0,0,0,0.82);
        }

        p {
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 450;
            margin: 0;
        }
    }

    .hosting-place-vector {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50rem;
        height: 30rem;

        img {
            width: 50rem;
            height: 30rem;
            transform: scale(0.7);
        }

        video {
            width: 50rem;
            height: 50rem;
            transform: scale(0.7);
            pointer-events: none;
        }
    }
}

/* hosting-location */ 

.hosting-location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0 25rem;

    .hosting-location-heading-container {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        h2 {
            margin: 0;
            font-size: 1.7rem;
            color: rgba(0,0,0,0.82);
            font-weight: 600;
        }
        p {
            margin: 0;
            font-size: 0.95rem;
            font-weight: 510;
            color: rgba(0,0,0,0.6);
        }
    }

    .hosting-location-input-container {
        display: flex;
        flex-direction: column;
 
            .inputGroup {
                font-family: 'Segoe UI', sans-serif;
                position: relative;
                transition: all 0.3s ease;
            }
            
            .inputGroup input {
                font-size: 90%;
                padding: 0.9em;
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.3);
                background-color: transparent;
                width: 33.5rem;
                height: 2.2rem;
                padding-bottom: 0;
                border-bottom: none;
            }
            
            .inputGroup label {
                font-size: 98%;
                position: absolute;
                left: 0;
                padding: 0.8em;
                margin-left: 0.5rem;
                pointer-events: none;
                transition: all 0.2s ease;
                color: rgb(100, 100, 100);
                user-select: none;
            }
            
            .inputGroup :is(input:focus, input:valid)~label {
                transform: translateY(11%) scale(.8);
                margin: 0;
                padding: 0;
                background-color: transparent;
            }
            
            .inputGroup :is(input:focus, input:valid) {
                border-color: rgb(0, 0, 0);
                border-bottom: 1px solid rgba(0, 0, 0);
            }
    }

    .hosting-location-map-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;

        .hosting-location-map-heading {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h3 {
                font-size: 1rem;
                font-weight: 580;
                margin: 0;
            }

            p {
                font-size: 0.9rem;
                font-weight: 500;
                color: rgba(0,0,0,0.6);
                margin: 0;
            }
        }
    }
}

/* floor-plan */ 

.hosting-floor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 20rem;

    .hosting-floor-heading {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        margin-bottom: 2rem;

        h2 {
            margin: 0;
            font-size: 1.7rem;
            color: rgba(0,0,0,0.82);
            font-weight: 600;
        }

        p {
            margin: 0;
            font-weight: 550;
            color: rgba(0,0,0,0.6);
        }
    }

    .hosting-floor-data {
        display: flex;
        justify-content: space-between;
        width: 55%;
        margin: 0.5rem 0;
        padding: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .hosting-floor-name {
            font-weight: 550;
            color: rgba(0,0,0,0.82);
        }

        .hosting-floor-number-container {
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            user-select: none;

            .hosting-floor-decrease, .hosting-floor-increase {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(0,0,0,0.52);
                border-radius: 50%;
                width: 1.5rem;
                height: 1.5rem;
                cursor: pointer;

                span {
                    font-size: 1rem;
                }
            }

            .hosting-floor-number {
                width: 0.8rem;
                font-weight: 550;
                color: rgba(0,0,0,0.82);
            }
        }
    }
}


/* photos */

.hosting-photos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0 25rem;

    .hosting-photos-heading-container {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        h2 {
            margin: 0;
            font-size: 1.7rem;
            color: rgba(0,0,0,0.82);
            font-weight: 600;
        }
        p {
            margin: 0;
            font-size: 0.95rem;
            font-weight: 510;
            color: rgba(0,0,0,0.6);
        }
    }

    .hosting-photos-input-container {
        width: 85%;
        height: 25rem;
        background-color: #F7F7F7;
        border: 1.6px dotted rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
        transform: scale(0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            height: 10rem;
            width: 18rem;
            transform: scale(0.35);
            filter: drop-shadow(20px 20px 10px rgba(0,0,0, 0.2));
        }

        button {
            background-color: #fff;
            border: 1px solid black;
            outline: none;
            height: 2rem;
            width: 7rem;
            border-radius: 2rem;
            font-weight: 550;
            color: rgba(0,0,0,0.82);
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

.fa-xmark {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    cursor: pointer;
    font-size: 0.98rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 0.3s ease;
    color: rgba(0,0,0,1);
    font-weight: 600;
}

.fa-plus {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    font-size: 0.98rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 0.3s ease;
    color: rgba(0,0,0,1);
    font-weight: 600;
}

.fa-plus:hover, .fa-xmark:hover {
    background-color: rgb(240, 240, 240);
}

.form_container {
    display: flex;
    flex-direction: column;

    .title_container {
        display: flex;
        justify-content: center;

        div {
            display: flex;
            flex-direction: column;
        }
    }

    .title {
        font-size: 0.9rem;
        font-weight: 600;
        color: rgba(0,0,0,0.82);
        margin: 0;
    }

    .subtitle {
        font-size: 0.8rem;
        font-weight: 550;
        color: rgba(0,0,0,0.6);
        margin: 0;
    }

    .input_container {
        border-radius: 1rem;
        overflow-y: scroll;
        scroll-behavior: smooth;
        justify-content: start;

        .controls-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3.5rem 0;
            border: 2.2px dotted rgba(0,0,0,0.45);
            border-radius: 1rem;
            gap: 1rem;
            transition: all 0.3s ease;

            img {
                height: 2.5rem;
                width: 2.5rem;;
            }
    
            span {
                font-size: 1.2rem;
                font-weight: 600;
                color: rgba(0,0,0,0.82);
            }
    
            p {
                font-size: 0.9rem;
                font-weight: 550;
                color: rgba(0,0,0,0.7);
                margin: 0;
            }
    
            button {
                font-size: 1.1rem;
                border-radius: 3rem;
                background: linear-gradient(to left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25), transparent) #115DFC;
                outline: none;
                border: none;
                padding: 0.5rem 1.5rem;
                margin: 0;
                cursor: pointer;
    
                span {
                    color: #F3F4F6;
                    font-weight: 500;
                    font-size: 0.9rem;
                }
            }
        }
    }

    .input_container::-webkit-scrollbar {
        display: none;
      }

    .input_container.dragover {
        background-color: rgb(225, 225, 225);
    }

    .ruler {
        margin: 2rem 0rem 1rem 0rem;
        bottom: 1rem;
        left: 0;
        width: 100%;
        height: 0.5px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .upload_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        border-radius: 3rem;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25), transparent) #115DFC;
        outline: none;
        border: none;
        padding: 0.5rem 1.5rem;
        margin-left: auto;
        cursor: pointer;
        margin-bottom: 0.6rem;

        span {
            color: #F3F4F6;
            font-weight: 500;
            font-size: 0.9rem;
        }
    }
}



.delete-icon {
    font-size: 0.9rem; 
    border-radius: 50%; 
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.82);
    transition: background 0.3s;
    color: #F3F4F6;
    cursor: pointer;
}



.swal2-popup {
    transition: all 0.4s ease;
    border-radius: 1rem;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
    padding: 0;
}

.animate__animated.animate__fadeInUp {
    animation-duration: 0.3s;
}

.animate__animated.animate__fadeOutDown {
    animation-duration: 0.5s;
}

.animate__animated.animate__pulse {
    animation-duration: 0.15s;
}

.tooltip, .return-tooltip {
    position: absolute;
    top: 20px;
    opacity: 0;
    background-color: #F3F4F6;
    color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    border-radius: 1rem;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    pointer-events: none;
    letter-spacing: 0.5px;
    z-index: -20000;
}

.tooltip::before, .return-tooltip::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #F3F4F6;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -15%;
    transition-duration: 0.3s;
}

.return-tooltip::before {
    top: -15%;
}

.return a:hover .tooltip {
    top: 45px;
    opacity: 1;
    font-weight: 600;
    font-size: 0.8rem;
    transition-duration: 0.15s;
    transition-delay: 0.7s;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.15);
}

.btn-class-name:hover .tooltip {
    top: -40px;
    opacity: 1;
    font-weight: 600;
    font-size: 0.8rem;
    transform: scale(1.1);
    transition-duration: 0.25s;
    background-color: #F3F4F6;
    transition-delay: 0.7s;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
}


.dropdown-container {
    display: flex;
    flex-direction: column;
}

.dropdown {
    position: relative;
    margin-top: 0.27rem;

    label {
        font-weight: 550;
        margin-bottom: 0.7rem;
        transform: scale(0.9);
        font-size: 1.07rem;
        color: rgba(0, 0, 0, 0.8);
        margin-left: 0.5rem;
    }
}

.dropdown-input {
    /* padding: 0.8rem;
    border-radius: 3rem;
    outline: none;
    cursor: pointer;
    border-radius: 3rem;
    border: 1.5px solid rgba(0, 0, 0, 0.9);
    height: 1rem;
    font-size: 0.88rem;
    line-height: 1.6;
    display: flex;
    font-weight: 450;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0.91rem;
    margin-top: 0.8rem;
    font-family: "Montserrat", sans-serif;
    background-color: #F3F4F6;
    width: 10.6rem; */
    margin: 0;
    padding: 0.9rem;
    padding-left: 0.6rem;
    font-size: 90%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 33.6rem;
    border-bottom: none;
    margin-top: -0.25rem;
}

.dropdown-input:focus {
    outline: none;
}

.dropdown-input::placeholder {
    /* font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    font-size: 0.85rem; */
    font-family: "Montserrat", sans-serif; 

    font-size: 98%;
    font-weight: 480;
    padding: 0.8em;
    margin-left: 0.5rem;
    pointer-events: none;
    transition: all 0.2s ease;
    color: rgb(100, 100, 100);
    user-select: none;
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.8rem;
    justify-content: center;
    width: 93%;
    opacity: 0;
    visibility: hidden;
    background: #F3F4F6;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    z-index: 20000000;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.5rem;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    transform: translateY(-12px);
    transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    max-height: 23rem;
}

.chevron-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
    fill: #000000;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    width: 16px;
    height: 16px;
    scale: 0.9;
}

.dropdown:hover .dropdown-list {
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.dropdown:hover .chevron-icon {
    transform: translateY(-50%) rotate(-180deg);
}

.dropdown-list.active {
    display: flex;
    flex-direction: column;
}

.search-box {
    width: 87%;
    padding: 0.77rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    font-weight: 500;
    outline: none;
    background-color: #F3F4F6;
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.search-box::placeholder {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    font-size: 0.85rem;
    font-family: "Montserrat", sans-serif;
}

.dropdown {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    li {
        padding: 0.8rem;
        cursor: pointer;
        font-size: 0.9rem;
        border-radius: 1rem;
        font-weight: 510;
        color: rgba(0, 0, 0, 0.8);
    }
    
    li:hover {
        background-color: rgba(17, 93, 252, 0.18);
    }
}