<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/resources/logo-title.png">
        <link rel="stylesheet" href="/css/404.css">
        <meta name="format-detection" content="telephone=no">
        <title>GharDisha – Direction to your home</title>
        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    </head>
    <body>
        <header class="header">
            <nav class="nav container">
                <a href="/" class="nav__logo" data-aos="zoom-in">
                    OFFERNMOVE
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item" data-aos="zoom-in" data-aos-delay="150">
                            <a href="/" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item" data-aos="zoom-in" data-aos-delay="300">
                            <a href="/about-us" class="nav__link">About</a>
                        </li>
                        <li class="nav__item" data-aos="zoom-in" data-aos-delay="450">
                            <a href="/contact-us" class="nav__link">Contact</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>
                </div>

                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <section class="home">
                <div class="home__container container">
                    <div class="home__data" data-aos="zoom-in">
                        <span class="home__subtitle">Error 404</span>
                        <h1 class="home__title">Hey Buddy</h1>
                        <p class="home__description">
                            We can't seem to find the page you are looking for.
                        </p>
                        <a href="/" class="home__button">
                            Go Home
                        </a>
                    </div>

                    <div class="home__img" data-aos="zoom-in" data-aos-delay="150">
                        <span class="background-text">404</span>
                        <img src="/resources/ghost-img.png" alt="">
                        <div class="home__shadow"></div>
                    </div>
                </div>

                <footer class="home__footer animate__animated animate__fadeInUp">
                    <span>94759 23853</span>
                    <span>|</span>
                    <span>offernmove@gmail.com</span>
                </footer>
            </section>
        </main>

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>AOS.init();</script>
    </body>
</html>