<% layout("/layouts/boilerplate") %>

<div class="terms-container">
  <div class="terms-heading-container">
    <h1>Terms & Conditions</h1>
    <div class="terms-update">
      Last Updated on 12 Dec, 2024
    </div>
  </div>
  <div class="divider"></div>
  <div class="terms-content">
    <div class="term">
      <br>
      <b>1. Acceptance of Terms</b>
      <br>
      <p>By accessing or using this Website, you agree to be bound by these Terms of Use ("Terms") and any policies or terms referenced herein. Your use of the Website signifies your acknowledgment and acceptance of these Terms, establishing a binding agreement between you and OfferNMove. If you do not agree to these Terms, you must refrain from using the Website.</p>
      <p>By expressly or implicitly accepting these Terms, you also agree to comply with our Privacy Policy, available at /privacy-policy, as updated from time to time.</p>
      <p>Additionally, your use of any services offered through this Website is subject to the applicable rules, guidelines, policies, terms, and conditions for those services, which are hereby incorporated into these Terms and considered a part of this agreement.</p>
    </div>
    <div class="term">
      <br>
      <b>2. Amendment or Modification of Terms and Services</b>
      <br>
      <p>OfferNMove reserves the exclusive right to modify these Terms of Use at any time without prior notice or consent from you. It is your responsibility to periodically review the Terms to remain informed of any updates. Your continued use of the Website after any modifications will be considered as your acceptance of the revised Terms.</p>
      <p>OfferNMove also reserves the right to withdraw, in whole or in part, any services offered through the Website at its sole discretion, with or without prior notice or explanation. Additionally, OfferNMove may adjust the number of leads provided under listing packages at any time, without prior notice or obligation to notify users.</p>
    </div>
    <div class="term">
      <br>
      <b> 3. Scope of Services</b>
      <br>
      <p>OfferNMove provides a variety of online services, including but not limited to, property listings for sale, lease, or purchase, classified advertisement postings, and services offered by third-party vendors ("Services"). These Services are accessible to both individuals and organizations, such as builders, brokers, or partners.</p>
      <p>You may post your requirements or advertisements on our Website, provided such postings are genuine and comply with these Terms. With your consent, you may also authorize another person, including OfferNMove, to post on your behalf. Any postings made, whether by you or by an authorized individual, must adhere to these Terms, and you will be solely responsible for the content of such postings.</p>
      <p>By using our Website, you authorize OfferNMove, its business associates, partners, and affiliates to contact you via phone, SMS, or email regarding your application or to offer additional products and services. By doing so, you acknowledge and agree to our Privacy Policy and these Terms of Use.</p>
    </div>
    <div class="term">
      <br>
      <b> 4. Registration Obligations and Membership</b>
      <br>
      <p>To access the services offered by OfferNMove, you must register on the Website. If you represent an organization and intend to use our Services for its benefit, we recommend that you and other users from your organization create individual user accounts using your corporate contact information.</p>
      <p>Membership on this Website is restricted to individuals above the age of 18, excluding those deemed legally "Incompetent to Contract," such as insolvents, as defined by the Indian Contract Act, 1872. Minors are not permitted to register. If you are under 18 and wish to use the Website, you may only do so through a legal guardian. OfferNMove reserves the right to terminate any account found to be operated by a minor.</p>
      <p>You are solely responsible for maintaining the confidentiality of your username and password. All activities conducted under your account will be considered as actions performed by you. By registering, you agree to:</p>
      <ul>
        <li>Provide true, accurate, current, and complete information during the sign-up process.</li>
        <li>Update your registration details promptly to ensure they remain true, accurate, current, and complete.</li>
      </ul>
      <p>If OfferNMove discovers or has reason to believe that you have provided false or inaccurate information, we reserve the right to permanently suspend your account.</p>
    </div>
    <div class="term">
      <br>
      <b>  5. Payment Obligations</b>
      <br>
      <p>The fees for the various Services offered by OfferNMove are clearly specified on the Website. Both paid and free services are available. Detailed information about the free and paid Services can be found on the Website or by contacting us at <a href="https://mail.google.com/mail/?view=cm&fs=1&to=info@offernmove.com" target="_blank">info@offernmove.com</a>.</p>
      <p>Free services may have limitations, as outlined on the Website or communicated by OfferNMove. To access additional features or Services beyond the free offerings, you may be required to pay the applicable charges listed on the Website or as communicated by us.</p>
      <p>OfferNMove reserves the right to revise the pricing for its Services at any time without prior notice. Details regarding cancellation and refund policies are available at /cancellation-refund. Unless expressly stated otherwise, no refunds will be issued for payments made for availing the Services.</p>
      <p>OfferNMove may offer discounts or promotional offers for specific Services. These offers are subject to terms and conditions clearly specified on the Website, and they may be time-sensitive. Once an offer expires, it cannot be claimed retroactively.</p>
      <p>Certain services listed on the Website are provided directly by third-party vendors. In such cases, OfferNMove's role is limited to posting the availability of these services. OfferNMove is not responsible for the quality, delivery, or performance of third-party services, nor will it entertain any inquiries or disputes related to them. Payments made for third-party services do not accrue to OfferNMove.</p>
      <p>Accounts that remain inactive for 12 months will be considered dormant and will be deleted without prior notice.</p>
    </div>
    <div class="term">
      <br>
      <b>6. Terms and Conditions for Availing the Services</b>
      <br>
      <ul>
        <li>
          <b>Registration Information</b>
          <br>
          <p>To register and activate your account, you will need to submit your activation code and provide required details, including your house information, name, email address, and a password of your choice. Your email address will serve as your username for login purposes. You must ensure that all registration information you provide is true, accurate, current, and complete.</p>
        </li>
        <li>
          <b>Profile Information</b>
          <br>
          <p>You may also choose to provide additional profile information, such as your occupation, hometown, status, hobbies, or a profile photo. This information can be updated or added through the "Profile" page on the Website. All profile information is subject to the terms outlined in our Privacy Policy.</p>
        </li>
      </ul>
    </div>
    <div class="term">
      <br>
      <b>7. Regulation of Website Usage</b>
      <br>
      <p>As a user of the Website, you agree not to reverse engineer, modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information or software obtained from the Website.</p>
      <p>You further agree not to use the Website, including any Services obtained through it, for the following purposes:</p>
      <ul>
        <li>In violation of any local, state, national, foreign, or international laws, regulations, rules, orders, treaties, or other legal obligations.</li>
        <li>To stalk, harass, or harm any individual or organization.</li>
        <li>To impersonate another person or entity or misrepresent your affiliation with any person or entity.</li>
        <li>To interfere with or disrupt the Website, its servers, or networks connected to it.</li>
      </ul>
      <p>Additionally, you are prohibited from listing or selling any banned or prohibited items on OfferNMove.</p>
      <p>You also agree not to submit any property descriptions, photographs, financial details, contact information, or other related data to the Website unless you have obtained all necessary rights and permissions from the property owner or power-of-attorney holder. This includes obtaining consent from the photographer and/or copyright owner of any photographs used to publish or advertise the property on the Website.</p>
      <p>Photographs containing watermarks are strictly prohibited on the Website.</p>
    </div>
    <div class="term">
      <br>
      <b> 8. Termination of Registration</b>
      <br>
      <p>OfferNMove reserves the right to terminate your account at its discretion, with or without notice, if:</p>
      <ul>
        <li>You are found or suspected of engaging in fraudulent activity related to the use of our Services.</li>
        <li>OfferNMove determines, in its sole judgment, that you have breached these Terms, or for any other reason deemed appropriate by OfferNMove, with or without providing evidence or justification.</li>
      </ul>
    </div>
    <div class="term">
      <br>
      <b> 9. Communication from OfferNMove</b>
      <br>
      <p>As part of the services provided to registered members, OfferNMove may need to communicate with you via email (for more details, refer to our Privacy Policy). By registering and using our Services, you agree to receive emails that are relevant to your account and necessary for the proper functioning of the Services, including welcome emails that inform new users about various features.</p>
      <p>By becoming a registered member of OfferNMove and/or using our Services, you consent to receive communications from OfferNMove, including emails, SMS, and phone calls, as well as communications from its group companies, affiliates, and subsidiaries. This consent overrides any preferences you have set, including those related to the Do Not Disturb (DND) Register.</p>
    </div>
    <div class="term">
      <br>
      <b>10. Information for Users/Service Providers</b> 
      <br>
      <p> All logos, brands, trademarks, and service marks ("Marks") displayed on the Website are either owned or used under license by OfferNMove. All rights, whether statutory or otherwise, associated with these Marks are fully vested in OfferNMove. Access to this Website does not grant you any license or right to use these Marks in any form, and any such use is strictly prohibited. Any violation of this provision will be considered an offense under the prevailing laws of India.</p>
      <br>
      <p>OfferNMove respects the intellectual property rights of all individuals and is committed to complying with all applicable intellectual property laws in India. OfferNMove will also respect the intellectual property rights of users and third parties. If any user is found using the Website to infringe upon the intellectual property rights of others, OfferNMove reserves the right to immediately terminate the user's account without prior notice. </p>     
    </div>
    <div class="term">
      <br>
      <b>11. Disclaimer of Warranties</b>
      <br>
      <p>All information and services provided by OfferNMove through the Website are offered on an "AS IS" and "AS AVAILABLE" basis, without any warranty of any kind, either express or implied. This includes, but is not limited to, implied warranties of merchantability, fitness for a particular purpose, title, non-infringement, or warranties arising from a course of dealing, usage, or trade practice. OfferNMove does not warrant that the services offered are free of errors or defects, nor does it guarantee that any defects or limitations in the services will be corrected. Additionally, OfferNMove does not guarantee the continuous availability of the services, as certain circumstances may cause interruptions.</p>
      <br>
      <p>OfferNMove provides no remedies for service interruptions, and it is not responsible for any loss of data resulting from the use of the services.</p>
      <br>
      <p>OfferNMove will not be liable for any kind of damage (consequential, direct, incidental, hardware, software, or otherwise) arising from access, download, or use of content from the Website. The content on the Website may contain inaccuracies or typographical errors and is frequently updated to reflect improvements or corrections without notice. </p>     
    </div>
    <div class="term">
      <br>
      <b>12. Flagging issues</b>
      <br>
      <p>OfferNMove reserves the right to publish property details provided by you with your consent. If your consent was not obtained for any such publication, you are required to contact OfferNMove immediately. Discussing this issue on any public or social forum is strictly prohibited. Any feedback or requests for corrections regarding property details must be communicated directly to OfferNMove. You can reach us at <a href="https://mail.google.com/mail/?view=cm&fs=1&to=info@offernmove.com" target="_blank">info@offernmove.com</a>.</p>      
    </div>
    <div class="term">
      <br>
      <b>13. No Liability</b>
      <br>
      <p>Unless explicitly stated on the Website, OfferNMove is not involved in any actual transactions between buyers and sellers of goods or services, nor in the posting of information or listings by users. We have no control over the quality, safety, or legality of the items or services advertised, the truthfulness or accuracy of the listings, or the ability of sellers to complete sales or buyers to complete purchases. We cannot guarantee that sellers will fulfill their transactions or that buyers will follow through on their purchases. Additionally, there are risks associated with dealing with individuals acting under false pretenses. We advise you to exercise caution when using the Website.</p>
      <br>
      <p> You understand and agree that we do not guarantee the accuracy or legitimacy of any listing, leads, or information posted by other users. OfferNMove is not liable for any financial loss, harm to goodwill, reputation, or any special, indirect, or consequential damages arising from your use of the Website or any transactions between users.</p>
      <br>
      <p> OfferNMove also disclaims any liability for content or listings posted by users on the Website. Furthermore, OfferNMove reserves the right, in accordance with reasonable business practices, to remove any part of the properties, goods, or services posted on the Website at any time and without prior notice. </p>     
    </div>
    <div class="term">
      <br>
      <b>14. Indemnification</b> 
      <br>
      <p>You agree to indemnify, defend, and hold harmless OfferNMove, its officers, directors, employees, and agents from any claims, costs, expenses, judgments, or other losses incurred as a result of your violation of the terms and conditions outlined in these Terms.</p>      
    </div>
    <div class="term">
      <br>
      <b>15. Links to Third-Party Sites</b>
      <br>
      <p> The Website may contain links to third-party websites and access to content, products, and services from third parties, including users, advertisers, affiliates, and sponsors. You acknowledge that OfferNMove is not responsible for the availability or accuracy of content on third-party websites, including, but not limited to, opinions, advice, statements, and advertisements. You bear all risks associated with using such content and acting upon it.</p>
      <br>
      <p>Before using any third-party website, you are advised to review the respective site's privacy policy and terms of use. OfferNMove is not responsible for any loss or damage you may incur from using content on third-party websites. Additionally, OfferNMove makes no representations or warranties regarding the functionality of any third-party site. A link to a third-party website does not imply endorsement by OfferNMove of the site's owner, its content, or its products and services. </p>     
    </div>
    <div class="term">
      <br>
      <b> 16. Governing Law</b>
      <br>
      <p>By accessing the Website, you agree that the laws of India shall govern all matters relating to these Terms.</p>      
    </div>
    <div class="term">
      <br>
      <b>17. Jurisdiction</b> 
      <br>
      <p> The courts in Bangalore, India, shall have exclusive jurisdiction over all matters related to the use of these Terms, regardless of your location or the jurisdiction from which you access the Website.</p>
      <br>
      <p>If you come across any listing or post that is offensive, violates our listing policy, or infringes upon any intellectual property rights, please inform us by emailing <a href="https://mail.google.com/mail/?view=cm&fs=1&to=info@offernmove.com" target="_blank">info@offernmove.com</a>. This will help us maintain the Website's efficiency and safety. We reserve the right to remove any post, listing, or information, and to limit or terminate our services. Additionally, we may take reasonable technical and legal actions to prevent misuse of the Website in line with these Terms.</p>
      <br>
      <p>If you encounter any issues with the Website or its services, please report the problem by sending an email to <a href="https://mail.google.com/mail/?view=cm&fs=1&to=info@offernmove.com" target="_blank">info@offernmove.com</a>.</p>
      <br>
      <p>The information provided on the Website is based on OfferNMove data collected from publicly available sources, such as websites, documents, maps, and OfferNMove's proprietary data resources, as well as inputs from unidentified individuals. This information should be considered as a guideline and not as absolute or guaranteed. While we strive for accuracy, OfferNMove does not accept responsibility for the accuracy of the information, in whole or in part.</p>
      <br>
      <p>The information is the exclusive property of OfferNMove and may not be reproduced in any form, either in part or in full, without prior written consent from OfferNMove. The information is provided on an "as is" and "as available" basis, and OfferNMove expressly disclaims any warranties, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, and non-infringement.</p>      
    </div>
  </div>
</div>