<% layout("/layouts/boilerplate") %>

<div class="blog-hero-container">
    <div class="content-wrapper">
        <h1>The OfferNMove Times</h1>
        <h2>Real Estate, Services & Inspiration Unbounded</h2>
        <button>Subscribe to our blogs</button>
    </div>
</div>
<div class="content-img-wrapper">
    <img src="/resources/blog.png">
</div>

<div class="newsletter-wrapper">
    <div class="newsletter">
        <div class="newsletter-heading">
            <h2>Subscribe to our newsletter</h2>
            <h1>Get latest news delivered straight to your inbox</h1>
        </div>
        <div class="newsletter-inputbox">
            <input placeholder="Enter your email address">
            <button>Subscribe Now</button>
        </div>
    </div>
</div>

<div class="blog-wrapper">
    <a href="/blog/buying-first-house" class="blog-item">
        <div class="blog-image"></div>
        <div class="blog-heading">
            <h2>A Complete Guide to Buying Your First Home in India</h2>
        </div>
        <div class="blog-content">
            Buying your first home in India is an exciting milestone. It represents stability, security, and an investment in your future. However, the process can .....
        </div>
        <div class="blog-slider"></div>
    </a>
    <a href="/blog/choosing-right-real-estate-agent" class="blog-item">
        <div class="blog-image" id="blog-image2"></div>
        <div class="blog-heading">
            <h2>How to Choose the Right Real Estate Agent</h2>
        </div>
        <div class="blog-content">
            Choosing the right real estate agent is crucial for ensuring a smooth and successful property transaction. Whether you're buying or selling a home ..... 
        </div>
        <div class="blog-slider"></div>
    </a>
    <a href="/blog/common-real-estate-scams-in-india" class="blog-item">
        <div class="blog-image" id="blog-image3"></div>
        <div class="blog-heading">
            <h2>Common Real Estate Scams in India and How to Avoid Them</h2>
        </div>
        <div class="blog-content">
            Real estate remains one of the most significant investments for individuals in India. However, it is also a sector prone to fraudulent .....
        </div>
        <div class="blog-slider"></div>
    </a>
    <a href="/blog/coliving-spaces-in-india" class="blog-item">
        <div class="blog-image" id="blog-image4"></div>
        <div class="blog-heading">
            <h2>Co-Living Spaces in India</h2>
        </div>
        <div class="blog-content">
            Co-living spaces have emerged as a popular housing solution in India, especially among young professionals, students, and digital nomads. With ......
        </div>
        <div class="blog-slider"></div>
    </a>
    <a href="/blog/renting-vs-buying-in-india" class="blog-item">
        <div class="blog-image" id="blog-image5"></div>
        <div class="blog-heading">
            <h2>Best Practices for Renting vs. Buying a Home in India</h2>
        </div>
        <div class="blog-content">
            Deciding between renting and buying a home is a significant financial and lifestyle choice. In India, with its diverse real estate market and dynamic......
        </div>
        <div class="blog-slider"></div>
    </a>
</div>
